{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pramod R Portfolio</title>
        <!-- Latest compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}">
      </script>
      <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
       <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    </head>
    <body style="background-color: #242424" id="page-top">
        <!-- Navigation-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="background-color: black;">

            <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <span class="d-block d-lg-none">PRAMOD R</span><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'images/pramod.jpg' %}"  alt="" /></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2 class="mb-0" style="font-family: cursive; color:white;">{{ n }} <span class="text-primary" style="color: black; font-family: cursive;"></span>
                    </h1>
                    <br>
                    <div class="subheading mb-5" style="font-size: 18px; font-family: cursive; color:white;">25/1 Kalappa Block Ananthmurty Layout Srinagar, Bangalore 560-050, Contact: 8660031528 mail:<a href="mailto:pramod1398@gmail.com" style="color:rgb(0, 128, 0)"> pramod1398@gmail.com</a></div>
                    <br>
                    <p class="lead mb-5" style="font-size: 16px; color:white; font-family: cursive;">I am a Data Science and Python Web Development enthusiast who wish to improve my developing skills everyday by learning new things related to technologies and try to hone my skills in the respective areas of interest. </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/pramod-r-929919174/"><i class="fab fa-linkedin-in"></i></a><a class="social-icon" href="https://github.com/pramod-r-gowda"><i class="fab fa-github"></i></a><a class="social-icon" href="https://www.facebook.com/profile.php?id=100004641047886"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="font-family: cursive; color: white;">Projects</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Milk Dairy Management System</h3>
                            <br>
                            <p style="font-family: cursive; color: white;">Goal of the project is to reduce the work of
maintaining big ledgers where the details of the
sellers are stored. This project provides a user
friendly interface. This was developed mainly for
the rural area dairies. The details of all the sellers
are stored in a database and the amount is given
to them based on the quality and quantity of milk.</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Simple Calendar</h3>
                            <br>
                            <p style="font-family: cursive; color: white;">This is a small project which uses array as a data
structure. In this small project the user is prompted
for the month and the year he wishes to look. The
calendar of the given month is displayed.</p>
                        </div>
                        
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Disease predictor</h3>
                            <br>
                            <p style="font-family: cursive; color: white;">Given a list of symptoms the machine predicts the
disease the person will be having by Algorithms
namely Random Forest, Decision Tree and Naive
Bayes.</p>
                        </div>
                        
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">PAN Record details</h3>
                            <br>
                            <p style="font-family: cursive; color: white;">A File structures project where PAN records are
stored in a file with variable length using B+tree
indexing. Since B+ tree is used as an indexing
technique faster retrieval of data is achieved.</p>
                        </div>
                        
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="font-family: cursive; color: white;">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Visvesvaraya Technological University</h3>
                            <div class="subheading mb-3" style="font-family: cursive; color: white;">RNS Institute of Technology</div>
                            <div style="font-family: cursive; color: white;">Information Science Engineering</div>
                            <p style="font-family: cursive; color: white;">GPA: 8.93</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2016 - September 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Department of Pre University Education </h3>
                            <div class="subheading mb-3" style="font-family: cursive; color: white;">Vijaya Composite Pre University college</div>
                            <div style="font-family: cursive; color: white;">Physics, Chemistry, Mathematics, Biology</div>
                            <p style="font-family: cursive; color: white;">Percentile: 94.8%</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2015 - May 2016</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" style="font-family: cursive; color: white;">Karnataka Secondary Education Examination Board </h3>
                            <div class="subheading mb-3" style="font-family: cursive; color: white;">Evershine English School</div>
                            <div style="font-family: cursive; color: white;">General Science, Mathematics, Sanskrit</div>
                            <p style="font-family: cursive; color: white;">Percentile: 96.32%</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2013 - April 2014</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="font-family: cursive; color: white;">Skills</h2>
                    <div class="subheading mb-3" style="font-family: cursive; color: white;">Programming Languages </div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item" style="font-family: cursive; color: white; font-size: 20px;"><i class="fab fa-html5" style="font-family: cursive; color: white;"></i>   HTML</li>
                        <br>
                        <li class="list-inline-item" style="font-family: cursive; color: white; font-size: 20px;"><i class="fab fa-css3-alt" style="font-family: cursive; color: white;"></i>   CSS3</li>
                        <br>
                        <li class="list-inline-item" style="font-family: cursive; color: white; font-size: 20px;"><i class="fab fa-js-square" style="font-family: cursive; color: white;"></i>   Javascript</li>
                        <br>
                        <li class="list-inline-item" style="font-family: cursive; color: white; font-size: 20px;"><i class="fab fa-java" style=" color: white; "></i>   Java</li>
                        <br>
                        <li class="list-inline-item" style="font-family: cursive; color: white; font-size: 20px;"><i class="fab fa-python" style="color: white;"></i>   Python</li>
                        <br>
                    </ul>
                    <div class="subheading mb-3" style="font-family: cursive; color: white;">Frameworks/Technologies</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check" style="color:white; "></i></span><p style="font-family: cursive; color: white;">Django</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check" style="color:white;"></i></span><p style="font-family: cursive; color: white;">MS Excel</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check" style="color:white;"></i></span><p style="font-family: cursive; color: white;">Machine Learning</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-database" style="color:white;"></i></span><p style="font-family: cursive; color: white;">Postgresql</p>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="font-family: cursive; color: white;">Interests</h2>
                    <p style="font-family: cursive; color: white;">Apart from being a web developer, I enjoy most of my time being indoors. Most of the time I will stick on to my cell phone where I play some games and will be surfing over the internet about the articles which will help me to improve in my personality development.</p>
                    <p class="mb-0" style="font-family: cursive; color: white;">When forced indoors, I follow a number of mystery and fantasy genre movies, television shows and animated series, I am more of a reader and I spend a large amount of my free time exploring the novels which are related to mythological or suspense thriller genres.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="font-family: cursive; color: white;">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><p  style="font-family: cursive; color: white; font-size: 14px;">Python for Data Science certified by IBM</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><p  style="font-family: cursive; color: white; font-size: 14px;">Data Analysis with Python certified by IBM</p>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><p  style="font-family: cursive; color: white; font-size: 14px;" >SQL and Relational Databases certified by IBM</p>
                        </li>
                        <li style="font-family: cursive; color: white;padding-bottom: 10px; font-size: 14px;">
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> Secured 1<sup >st </sup>in Codathon organized by Ambedkar Institute of Technology
                        </li>
                        
                        <li style="font-family: cursive; color: white; font-size: 14px;">
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Secured 1<sup>st </sup>Place in Coding competition organized by RNS Institute of Technology
                        </li>
                      

                    </ul>
                </div>
            </section>
        </div>
        
    </body>
</html>
